nav {
    background-color: #333;
    overflow: hidden;
    top: 0;

}

.nav-links {
    float: left;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;

}

.nav-links li a:hover {
    background-color: #575757;
}

input[type="text"] {
    padding: 6px 29px;
    margin: 20px;
    float: right;
}

.logo {
    float: left;
    color: white;
    font-size: 24px;
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.section-title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #333;
}

.hero {
    background-color: gray;
    height: 50rem;
    width: 200rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: url('https://picsum.photos/1920/1080?blur=3') no-repeat center center/cover;
    position: relative;
}




.hero-content {
    position: relative;

}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

footer {
    background-color: black;
    width: 100%;
}

.social-section {
    background-color: #212529;
    color: white;
    padding: 60px 0;
    text-align: center;

}

.social-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;

}

.social-icons a {
    color: white;
    font-size: 1.8rem;
    margin: 0 15px;
    transition: color 0.3s ease;

}

.social-icons a:hover {
    color: #0d6efd;
    /* Bootstrap blue */

}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7096cff8;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background: #000;
    color: rgb(0, 255, 0);
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

button {
    padding: 15px;
    font-size: 18px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background: lightslategray;
}